.app {
    position: relative;
    width: 100%;
    height: calc(100vh - 180px);
    border: 1px solid #bbb;
    border-radius: 3px;
}

.object {
    position: relative;
    width: 100%;
    height: 500px;
}