<!-- <app-qlik-component-wrapper dataHost="https://cgu.us.qlikcloud.com" clientId="dd2b8c3d2c42390449d85dffed6cc95d" appId="9fc2130e-502b-48bb-86ed-df1d1e685e12" sheetId="7136fae1-5123-4f19-a1b8-3935e14d088c"></app-qlik-component-wrapper> -->

<!-- https://kassovitz.us.qlikcloud.com/sense/app/70f084ec-9c79-4866-9389-424d894006c3/sheet/fPxXBLH/state/analysis -->
<!-- <app-qlik-component-wrapper ui="classic/app" dataHost="https://kassovitz.us.qlikcloud.com" clientId="2e2c3a66c97818c67a21d21c1c27d788" appId="70f084ec-9c79-4866-9389-424d894006c3" sheetId="fPxXBLH"></app-qlik-component-wrapper> -->

<!-- https://kassovitz.us.qlikcloud.com/sense/app/3e76f674-487b-4d47-a284-91b33dad3f0c/sheet/PSQhqB/state/analysis -->

<app-qlik-component-wrapper ui="private:@qmfe/sense-client#classic_chart" dataHost="https://kassovitz.us.qlikcloud.com" clientId="2e2c3a66c97818c67a21d21c1c27d788" appId="3e76f674-487b-4d47-a284-91b33dad3f0c" objectId="aYxjH"></app-qlik-component-wrapper>

<app-qlik-component-wrapper ui="analytics/chart" dataHost="https://kassovitz.us.qlikcloud.com" clientId="2e2c3a66c97818c67a21d21c1c27d788" appId="3e76f674-487b-4d47-a284-91b33dad3f0c" objectId="hSzde"></app-qlik-component-wrapper>

<!-- https://kassovitz.us.qlikcloud.com/sense/app/3e76f674-487b-4d47-a284-91b33dad3f0c/sheet/PSQhqB/state/analysis -->
<app-qlik-component-wrapper ui="analytics/chart" dataHost="https://kassovitz.us.qlikcloud.com" clientId="2e2c3a66c97818c67a21d21c1c27d788" appId="3e76f674-487b-4d47-a284-91b33dad3f0c" objectId="TbAhr"></app-qlik-component-wrapper>

<!-- https://kassovitz.us.qlikcloud.com/sense/app/3e76f674-487b-4d47-a284-91b33dad3f0c/sheet/PSQhqB/state/analysis -->
<app-qlik-component-wrapper ui="analytics/chart" dataHost="https://kassovitz.us.qlikcloud.com" clientId="2e2c3a66c97818c67a21d21c1c27d788" appId="3e76f674-487b-4d47-a284-91b33dad3f0c" objectId="cb11ae67-a90a-473c-a62a-994c1f7f699b"></app-qlik-component-wrapper>

